/home/mattiafiore/Desktop/Esercizi_Python/Pandas/pokemon_fuoco/Attack_graph.png
/home/mattiafiore/Desktop/Esercizi_Python/Pandas/pokemon_fuoco/Defense_graph.png
/home/mattiafiore/Desktop/Esercizi_Python/Pandas/pokemon_fuoco/HP_graph.png
/home/mattiafiore/Desktop/Esercizi_Python/Pandas/pokemon_fuoco/Sp. Atk_graph.png
/home/mattiafiore/Desktop/Esercizi_Python/Pandas/pokemon_fuoco/Sp. Def_graph.png
/home/mattiafiore/Desktop/Esercizi_Python/Pandas/pokemon_fuoco/Speed_graph.png
